@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
.btn,
a {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
body {
  padding: 0 !important;
}

.appButt {
  background: #1d9ced;
  padding: 30px 0 61px;
  text-align: center;
}
.radio {
  display: inline-block !important;
  label{    font-size: 17px;
    width: 100px;
    margin-left: 4px;}
    input{    width: 45px;
    height: 20px;
  margin-left: -35px !important;}
}
.disBlock {
  display: block;
}
.marg-img {
  padding: 15px 0;
}
.marg-video {
  background: #ff3737;
  margin: 0;
  padding: 6% 22%;
  text-align: center;
  .framVi {
    border-radius: 13px;
    float: none;
      clear: both;
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;
  }
  .framView{
        border: 7px solid black;
        border-radius: 13px;
        position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;}
}
.radio_op{
  label{
    width: 180px;
    margin-left: 22px;}
    input{    width: 45px;
    height: 20px;
  margin-left: -35px !important;}
}
.marg-beni {
  background: #f6d400;
  .padd-beni {
    padding: 4% 12%;
  }
}
.padd_form1 {
  padding: 4px 14% 101px;
  background-image: url("../img/formbg.jpg");
  background-repeat: no-repeat;
    background-size: 100% 100%;
}
.padd-form {
  -webkit-box-shadow: 0px 9px 4px -3px rgb(154, 11, 71);
    -moz-box-shadow: 0px 9px 4px -3px rgb(154, 11, 71);
    box-shadow: 0px 9px 4px -3px rgb(154, 11, 71);
    background-image: url("../img/pink-bg.jpg");
  padding: 4% 11%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
    .address_form{height: 60px !important;}
    h1{    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    color: yellow;
    text-shadow: 3px 4px #7D34AC;
    padding-bottom: 35px;}
    .col-md-6,.col-sm-6,.col-xs-12{    padding: 0px 30px 20px;}

  .sumButt {
    text-align: center;
    padding: 6% 0 1%;
    button{ background: #ea2b7b;
    border: none;
    outline: none;}
  }
  label{color:#fff;
      font-size: 17px;}
}
.row {
  margin: 0 !important;
}
.contact_cl {
  background: #F6D400;
  text-align: center;
  h1 {
    font-weight: bolder;
    font-size: 49px;
    color: #000;
  }
}
footer {
  background: black;
}
.foot {
  padding: 10% 24% 4%;
  background: #000;
  .foot_img {
    width: 47px;
    padding-right: 5px;
  }
  a {
    color: #fff;
    font-size: 16px;
  }
  &a:hover {
    color: #fff;
    font-size: 16px;
  }
  span {
    float: left;
    padding: 0 7px;
  }
  code {
    color: red;
    padding: 0;
    background: none;
    border-radius: 0;
    font-size: 19px;
    font-weight: 600;
  }
}
.conInfo {
  padding: 0 9%;
  p {
    color: #fff;
  }
  .padd-cont {
    padding-top: 70px;
  }
}
.form-group {
  position: relative;
  .error-msg {
    position: absolute;
    right: 0;
    //background-color: $red;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    bottom: -23px;
    text-transform: uppercase;
  }
}
.foot_main{
      padding: 27px 0px 20px 0px;text-align: center;
    }
.foot_left{   color: #fff; border-right: 2px solid #656464;
    display: inline-block;
    font-size: 13px;
    padding-right: 13px;}
.foot_right{ display: inline-block;
    padding-left: 9px;
    font-size: 12px;
    text-decoration: underline;}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
@media (max-width:988px) {
  .contact_cl h1 {
      font-weight: bolder;
      font-size: 30px;
      color: #000;
      }
}
@media (max-width:1084px) {
  .contact_cl h1 {
      font-weight: bolder;
      font-size: 30px;
      color: #000;
      }
      .conInfo .padd-cont {
        padding-top: 0px;
    }
    .padd-cont-div{
          padding-bottom: 50px;
    }
    .conInfo {
    padding: 0px 0%;
}
.foot {
    padding: 10% 12% 4%;
    background: #000;
}
.foot .foot_img {
    width: 37px;
    padding-right: 5px;
}
}
@media (max-width:922px) {
  .contact_cl h1 {
      font-weight: bolder;
      font-size: 30px;
      color: #000;
      }
      .conInfo .padd-cont {
        padding-top: 0px;
    }
    .padd-cont-div{
          padding-bottom: 50px;
    }
    .conInfo {
    padding: 0px 0%;
}
.foot {
    padding: 10% 12% 4%;
    background: #000;
}
.foot .foot_img {
    width: 37px;
    padding-right: 5px;
}
}

@media (max-width:678px) {
  
  .mo-min{
    margin-top:60px !important;
  }
  .conInfo .padd-cont {
    padding-top: 0px;
}
.padd-cont-div{
      padding-bottom: 50px;
}
  .contact_cl h1 {
      font-weight: bolder;
      font-size: 20px;
      color: #000;
      }
      .foot {
    padding: 20% 6% 4%;
    background: #000;
}
.foot code {
    color: red;
    padding: 0;
    background: none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
}
.foot a {
    color: #fff;
    font-size: 12px;
}
.foot .foot_img {
    width: 28px;
    padding-right: 5px;
}

.conInfo {
    padding: 0 5%;
}
}
.freebirdFormviewerViewFormBanner {
   height: auto !important;
}
.back-to-top{
  display: block !important;
  opacity: 1 !important;
}
.mt25{
  margin-top:60px !important;
}
