<footer>
    <div class="container">

      <div class="row foot">
          <span>
              <p><img src="img/f1.png"  class="foot_img" alt="banner" ><a href="" target="_blank">www.sm<code>aaa</code>sh.in</a></p>
          </span>
          <span>
              <p><img src="img/f2.png"  class="foot_img" alt="banner" ><a href="" target="_blank">/Sm<code>aaa</code>shLudhiana</a></p>
          </span>
          <span>
              <p><img src="img/f3.png"  class="foot_img" alt="banner" ><a href="" target="_blank">Sm<code>aaa</code>shLive</a></p>
          </span>
      </div>
      <div class="row conInfo">
        <div class="col-md-4 col-sm-6 col-xs-12 padd-cont-div">
          <div class="col-md-12 col-xs-6">
            <p><strong>MUMBAI</strong><br>KAMALA MILLS COMPOUND,<br>GATE NO. 4,LOWER PAREL,<br>MUMBAI 400 013.<br><br>TEL: +91 2249 143 143<br>enquiry@smaaash.in</p>
          </div>
          <div class="col-md-12 col-xs-6 padd-cont">
            <p><strong>HYDERABAD</strong><br>L5,INORBIT MALL-CYBERCITY,<br>APIIC SOFTWARE LAYOUT,TECH<br>CITY,MADHAPUR,<br>HYDERABAD-500 081.<br><br>TEL:+91 4044739999<br>hyderabad.enquiry@smaaash.in</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 padd-cont-div">
          <div class="col-md-12 col-xs-6">
              <p><strong>LUDHIANA </strong><br>2ND FLOOR,<br>MBD MALL, FEROZEPUR RD,<br> HOUSING BOARD COLONY,<br> BRS NAGAR, LUDHIANA,<br> PUNJAB 141012</p>
          </div>
          <div class="col-md-12 col-xs-6 padd-cont">
              <p><strong>NOIDA</strong><br>A-501, B 504, 4TH FLOOR,<br>DLF MALL OF INDIA,<br>SECTOR 18,<br>NOIDA - 201 301<br><br>TEL: +91 120 2595111 /<br> +91 9999311141<br>nodia.enquiry@smaaash.in</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 padd-cont-div">
          <div class="col-md-12 col-xs-6">
            <p><strong>GURGAON</strong><br>DLF CYBER HUB, CYBER CITY,<br> PHASE 2, NH 8, GURGAON,<br>HARYANA -122 OO2.<br><br>TEL: 0124-39 40 1888 <br>
            gurgaon.enquiry@smaaash.in</p>
          </div>
          <div class="col-md-12 col-xs-6 padd-cont">
            <p><strong>BENGALURU</strong><br>2ND FLOOOR,<br>1MG - LIDO MALL,<br>TRINITY CIRCLE, <br>MG ROAD,<br>BENGALURU - 560 001<br><br>TEL: 080-25066900<br>bengaluru.enquiry@smaaash.in</p>
          </div>
        </div>
      </div>
        <div class="row foot_main">
            <p class="foot_left">&copy;COPYRIGHT@SMAAASH {{template.year}}</p><p class="foot_right"><a href="#" target="_blank">Terms & Conditions</a>.</p>
        </div>
    </div>
</footer>
